<mat-card>
  <mat-card-header>
   <app-buttons name="Создать" [isBackground]="true" [icon]="icons.plus" (click)="createTask()"></app-buttons>
  </mat-card-header>
   <mat-card-content>
     <app-column [column]="columns[0]"
                 cdkDropList
                 #new="cdkDropList"
                 [cdkDropListData]="columns[0].tasks | async"
                 [cdkDropListConnectedTo]="[process]"
                 (cdkDropListDropped)="drop($event, 'new')">
       <app-task *ngFor="let task of columns[0].tasks | async" [task]="task" cdkDrag></app-task>
     </app-column>
     <app-column [column]="columns[1]"
                 cdkDropList
                 #process="cdkDropList"
                 [cdkDropListData]="columns[1].tasks | async"
                 [cdkDropListConnectedTo]="[new, done]"
                 (cdkDropListDropped)="drop($event, 'process')">
       <app-task *ngFor="let task of columns[1].tasks | async" [task]="task" [cdkDragData]="task" cdkDrag></app-task>
     </app-column>
     <app-column [column]="columns[2]"
                 cdkDropList
                 #done="cdkDropList"
                 [cdkDropListData]="columns[2].tasks | async"
                 [cdkDropListConnectedTo]="[]"
                 (cdkDropListDropped)="drop($event, 'done')">
       <app-task *ngFor="let task of columns[2].tasks | async" [task]="task" cdkDrag></app-task>
     </app-column>
   </mat-card-content>
</mat-card>
