<mat-card>
  <mat-card-header [class]="'header-' + data.status">
    <p>Новая задача</p>
    <app-buttons [icon]="icons.close"  [mat-dialog-close]="true"></app-buttons>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="formGroup">
      <mat-form-field appearance="outline">
        <mat-label>Наименование</mat-label>
        <input matInput placeholder="Наименование" formControlName="title">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Описание</mat-label>
        <textarea matInput placeholder="Описание"  formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill" *ngIf="data.status !== 'process'">
        <mat-label>Время выполнения, сек</mat-label>
        <mat-select formControlName="time">
          <mat-option *ngFor="let timeOption of timeOptions" [value]="timeOption">{{timeOption}}</mat-option>
        </mat-select>
      </mat-form-field>
      <app-time-bar [time]="data.time"
                    [dateUpdate]="data.dataUpdate"
                    (timeLose)="timeLose($event)"
                    *ngIf="data.status === 'process' && !data.isTimeLose"
      ></app-time-bar>
      <mat-form-field appearance="fill" *ngIf="data.status === 'process' && data.isTimeLose">
        <mat-label>Время выполнения, сек</mat-label>
        <mat-select disabled value="Просрочено">
          <mat-option value="Просрочено">Просрочено</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Состояние задачи</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let statusOption of statusOptions" [value]="statusOption.value">{{statusOption.title}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <app-buttons name="Отмена" [mat-dialog-close]="true"></app-buttons>
    <app-buttons name="Сохранить" [isBackground]="true" (click)="saveButton()"></app-buttons>
  </mat-card-footer>
</mat-card>
